<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrutores</title>

    <link href="/style/header.css" rel="stylesheet">
    <link href="/style/paginas.css" rel="stylesheet">
    <link href="/style/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="style/modal.css">

    <link rel="icon" href="img/logocec.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    
    <%- include ('partials/header') %>

    <main>

        <section>
            <div id="segundaHeader">
              <div id="Titulo">
                <h1>Instrutores</h1>
              </div>
              <div id="botoes">
                <input class="botoes" id="botaoPesquisar" type="text" placeholder="Pesquisar" value="">
                <button class="botoes" id="botaoAdicionar" onclick="OpenModalSala()"><img id="add-icon"  src="img/add.png" width="11px">Adicionar</button>
                <button class="botoes" id="botaoExportar" onclick="ExportToExcel()"> <img id="excelPicture" src="img/excel-i.png"> Exportar</button>
              </div>
            </div> 
            <br>
            <hr class="style-one">
            <div id="FiltrosSection">
                <h3>Filtros:</h3>
                <select class="selectBox" name="nomePilar" id="FiltroPilar">
                    <option hidden selected>Pilar</option>
                    <% pilares.forEach(pilares => { %>
                        <option value="<%= pilares.nomePilar %>"> <%= pilares.nomePilar %> </option>
                    <% }) %>
                </select>
                <select class="selectBox" name="disponibilidade" id="disponibilidade">
                    <option hidden selected>Disponibilidade</option>
                    <option value="valor1">Disponível</option>
                    <option value="valor2">Atestado</option>
                    <option value="valor3">Licença</option>
                    <option value="valor3">Férias</option>
                    <option value="valor4">Desligado</option>
                </select>
                <select class="selectBox" name="maximoItensPagina" id="maximoItensPagina">
                  <option value="10">10 por página</option>
                  <option value="30">30 por página</option>
                </select>
            </div>
        </section>

        <!-- MODAL ADICIONAR -->

        <section>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="titulo-modal">Cadastrar Instrutor</h1>
                        <span class="close">&times;</span>
                    </div>
                    <form id="form">
                        
                        <div class="form">
                            <label for="nomeInstrutor" class="Titulo-Campo">Nome Instrutor:</label>
                            <input type="text" name="nomeInstrutor" id="nomeInstrutor" class="Campo-Modal-Grande" placeholder="Fernando Carreira" required />
                        </div>
                        
                        <div class="form">
                            <label for="abreviacao" class="Titulo-Campo">Abreviação:</label>
                            <input type="text" name="abreviacao" id="abreviacao" class="Campo-Modal-Grande" placeholder="Fernando" required />
                        </div>
                          
                        <div class="form" required>
                            <label for="pilares_id" class="Titulo-Campo">Pilar:</label>
                            <div class="Campo-seletor-Modal-Pequeno">
                                <select name="pilares_id" id="pilares_id">
                                    <% pilares.forEach(pilares => { %>
                                        <option value="<%= pilares.id %>"> <%= pilares.nomePilar %> </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form">
                            <label for="email" class="Titulo-Campo">Email:</label>
                            <input type="text" name="email" id="email" class="Campo-Modal-Grande" placeholder="exemplo@autoglass.com.br" required />
                        </div>
                        
                        <div class="form" required>
                            <label for="disponibilidade">Disponibilidade</label>
                            <select name="select" id="disponibilidade" required>
                                <option value="Disponível">Disponível</option>
                                <option value="Atestado">Atestado</option>
                                <option value="Licença">Licença</option>
                                <option value="Férias">Férias</option>
                                <option value="Desligado">Desligado</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button id="botaoCancelar">Cancelar</button>
                            </div>

                            <div>
                                <button formmethod="post" type="submit">Confirmar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </section>

        <!-- MODAL EDITAR -->

        <section>
            <div id="modalEditar" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="titulo-modal">Editar Instrutor</h1>
                    </div>
                    <form id="formEdit">
                        <div class="form">
                            <label for="nomeInstrutorEdit" class="Titulo-Campo">Nome Instrutor:</label>
                            <input type="text" name="nomeInstrutorEdit" id="nomeInstrutorEdit" class="Campo-Modal-Grande" placeholder="Fernando Carreira" required />
                        </div>
                        
                        <div class="form">
                            <label for="abreviacaoEdit" class="Titulo-Campo">Abreviação:</label>
                            <input type="text" name="abreviacaoEdit" id="abreviacaoEdit" class="Campo-Modal-Grande" placeholder="Fernando" required />
                        </div>
                          
                        <div class="form" required>
                            <label for="pilares_id" class="Titulo-Campo">Pilar:</label>
                            <div class="Campo-seletor-Modal-Pequeno" required>
                                <select name="pilares_id" id="pilares_idEdit" required>
                                    <% pilares.forEach(pilares => { %>
                                        <option value="<%= pilares.nomePilar %>"> <%= pilares.nomePilar %> </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form">
                            <label for="emailEdit" class="Titulo-Campo">Email:</label>
                            <input type="text" name="emailEdit" id="emailEdit" class="Campo-Modal-Grande" placeholder="exemplo@autoglass.com.br" required />
                        </div>
                        
                        <div class="form" required>
                            <label for="disponibilidadeEdit">Disponibilidade</label>
                            <select name="disponibilidadeEdit" id="disponibilidadeEdit" required>
                                <option hidden>Disponibilidade</option>
                                <option value="Disponível">Disponível</option>
                                <option value="Atestado">Atestado</option>
                                <option value="Licença">Licença</option>
                                <option value="Férias">Férias</option>
                                <option value="Desligado">Desligado</option>
                            </select>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <div>
                            <button id="botaoCancelarEditar">Cancelar</button>
                        </div>

                        <div>
                            <button id="botaoConfirmar" type="submit">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <table id="tbl">
                <tr id="atributos">
                    <th>Instrutor</th>
                    <th>Abreviação</th>
                    <th>Email</th>
                    <th>Disponibilidade</th>
                    <th>Pilar</th>
                    <th id="colunaCrud"></th>
                </tr>
                <% instrutores.forEach(instrutores => { %>
                    <tr class="tableRow">
                        <td hidden id="id"> <%= instrutores.id %> </td>
                        <td> <%= instrutores.nomeInstrutor %> </td>
                        <td> <%= instrutores.abreviacao %> </td>
                        <td> <%= instrutores.email %> </td>
                        <td> <%= instrutores.disponibilidade %> </td>
                        <td> <%= instrutores.Pilare.nomePilar %> </td>
                        <td>
                            <button id="botaoEditar" class="crud"><img src="img/edit.png"  width="16px" height="16px"></button >
                            <button id="botaoApagar" class="crud" type="submit"> <img src="img/delete.png" width="17px" height="17px"> </button>
                        </td>
                    </tr>
                <% }) %>
            </table>
        </section>

    </main>

    <%- include ('partials/footer') %>
    <script src="/js/methods/instrutores.js"></script>

</body>
</html>