<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva de sala/local</title>

    <link rel="stylesheet" href="/style/paginas.css">
    <link rel="stylesheet" href="/style/header.css" />
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/modal.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="img/logocec.png">

</head>
<body>
    <%- include ('partials/header') %>
    
    <main>
        <section>
            <div id="segundaHeader">
                <div id="Titulo">
                <h1>Reservas</h1>
                </div>
                
                <div id="botoes">
                <input class="botoes" id="botaoPesquisar" type="text" placeholder="Pesquisar" value="">
                <button class="botoes" id="botaoAdicionar" onclick="OpenModalSala()"><img id="add-icon"  src="img/add.png" width="11px">Adicionar</button>
                <button class="botoes" id="botaoExportar" onclick="ExportToExcel()"> <img id="excelPicture" src="img/excel-i.png"> Exportar</button>
                </div>
            </div>
            <br>
            <hr class="style-one">
            <div id="FiltrosSection">
                <h3>Filtros:</h3>
                <select class="selectBox" name="codTurma" id="FiltroPilar">
                    <option hidden selected>Turma</option>
                    <% turmas.forEach(turmas => { %>
                        <option value="<%= turmas.codTurma %>"> <%= turmas.codTurma %> </option>
                    <% }) %>
                </select>
                <select class="selectBox" name="nomeEspecializacoes" id="FiltroPilar">
                    <option hidden selected>Instrutor</option>
                    <% instrutores.forEach(instrutores => { %>
                        <option value="<%= instrutores.nomeInstrutor %>"> <%= instrutores.nomeInstrutor %> </option>
                    <% }) %>
                </select>
                <select class="selectBox" name="nomeDisciplina" id="FiltroPilar">
                    <option hidden selected>Disciplina</option>
                    <% disciplinas.forEach(disciplinas => { %>
                        <option value="<%= disciplinas.nomeDisciplina %>"> <%= disciplinas.nomeDisciplina %> </option>
                    <% }) %>
                </select>
                <select class="selectBox" name="nomeLocal" id="FiltroPilar">
                    <option hidden selected>Local</option>
                    <% locais.forEach(locais => { %>
                        <option value="<%= locais.nomeLocal %>"> <%= locais.nomeLocal %> </option>
                    <% }) %>
                </select>
                <select class="selectBox" name="filtroData" id="filtroData">
                <option disabled selected>Selecione uma data</option>
                </select>
                <select class="selectBox" name="maximoItensPagina" id="maximoItensPagina">
                <option value="10">10 por página</option>
                <option value="30">30 por página</option>
                </select>
            </div>
        </section>

        <section>
            <div id="myModal" class="modal">
                <div class="modal-content">
                
                    <form method="post" action="http://localhost:8080/reservas">
                        <div class="modal-header">
                            <h1 id="titulo-modal">Reservar Evento</h1>
                            <span class="close">&times;</span>
                        </div>
                        
                        <div class="form">
                            <label for="nomeReserva" class="Titulo-Campo">Nome Reserva:</label>
                            <input type="text" name="nomeReserva" id="nomeReserva" class="Campo-Modal-Grande" placeholder="Sequelize" required />
                        </div>

                        <div id="turmaProfessor">
                            <div class="form" required>
                                <label for="turmas_id">Turma</label>
                                <select name="turmas_id" id="turmas_id" required>
                                    <option hidden>Turma</option>
                                    <% turmas.forEach(({id, nomeTurma}) => { %>
                                        <option value="<%= id %>"> <%= nomeTurma %> </option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form" required>
                                <label for="instrutores_id">Instrutor</label>
                                <select name="instrutores_id" id="instrutores_id" required>
                                    <option hidden>Instrutor</option>
                                    <% instrutores.forEach(({id, nomeInstrutor}) => { %>
                                        <option value="<%= id %>"> <%= nomeInstrutor %> </option>
                                    <% }) %>                           
                                </select>
                            </div>
                        </div>
        
                        <div id="localDisplina">
                            <div class="form" required>
                                <label for="local">Local</label>
                                <select name="local" id="local" required>
                                    <option hidden>Local</option>
                                    <% locais.forEach(({id, nomeLocal }) => { %>
                                        <option value="<%= id %>"> <%= nomeLocal %> </option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form" required>
                                <label for="disciplinas_id">Disciplina</label>
                                <select name="disciplinas_id" id="disciplinas_id" required>
                                    <option hidden>Disciplina</option>
                                    <% disciplinas.forEach(({id, nomeDisciplina}) => { %>
                                        <option value="<%= id %>"> <%= nomeDisciplina %> </option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
        
                        <div id="horarios">
                            <div class="form">
                                <label for="dataInicio" class="Titulo-Campo">Data</label>
                                <input type="date" name="dataInicio" id="dataInicio">
                            </div>
                            <div class="form">
                                <label for="dataFim" class="Titulo-Campo">Data Final</label>
                                <input type="date" name="dataFim" id="dataFim">
                            </div>
                        </div>

                        <div id="horarios">
                            <div class="form">
                                <label for="Horario Inicio">Horário Inicio</label>
                                <input type="time" name='hrInicio' id="hrInicio" min="08:00" max="18:00" required>
                            </div>
                            <div class="form">
                                <label for="Horario Fim">Horário Fim</label>
                                <input value="time" type="time" name="hrFim" id="hrFim" min="08:00" max="18:00" required>
                            </div>
                        </div>

                        <!-- Cor? -->

                        <div class="form">
                            <label for="descricao" class="Titulo-Campo">Descrição:</label>
                            <textarea name="descricao" id="descricao" class="form-control" >Adicione alguma observação sobre sua reserva...</textarea>
                        </div>
        
                        <div class="modal-footer">
                            <div>
                                <button id="botaoCancelar">Cancelar</button>
                            </div>
                            <div>
                                <button id="botaoConfirmar" onclick="addReserva()">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
          
        <section>
            <table id="tbl">
                <tr id="atributos">
                    <th>Reserva</th>
                    <th>Instrutor</th>
                    <th>Turma</th>
                    <th>Disciplina</th>
                    <th>Local</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th id="colunaCrud"></th>
                </tr>
                
                <% reservas.forEach(reservas => { %>
                    <tr class="tableRow">
                        <td> <%= reservas.nomeReserva%> </td>
                        <td> <%= reservas.Instrutore.nomeInstrutor%> </td>
                        <td> <%= reservas.Turma.nomeTurma%> </td>
                        <td> <%= reservas.Disciplina.nomeDisciplina%> </td>
                        <td> <%= reservas.Locai.nomeLocal%> </td>
                        <td> <%= reservas.dataInicio%> </td>
                        <td> <%= reservas.hrInicio%> - <%= reservas.hrFim%> </td>
                        <td>
                            <button class="crud" id="botaoEditar"><img src="img/edit.png"  width="16px" height="16px"></button >
                            <button class="crud" id="botaoApagar" onclick='removeLinha(this)'><img src="img/delete.png" width="17px" height="17px"></button>
                        </td>
                    </tr>
                <% }) %>
            </table>
        </section>

    </main>

    <%- include ('partials/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>